<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.packtpub.contactviewer"
      android:versionCode="1"
      android:versionName="1.0">
  
  <uses-permission 
      android:name="android.permission.READ_CONTACTS"
    />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="ViewContactActivity"
                  android:label="View Contact">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data 
                    android:mimeType="vnd.android.cursor.item/person"
                    android:host="contacts"
                    />
                <data 
                    android:mimeType="vnd.android.cursor.item/contact"
                    android:host="com.android.contacts"
                    />
            </intent-filter>
        </activity>
    </application>
</manifest>
