<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.packtpub.layouts"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="LayoutSelectorActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="FrameLayoutActivity"
            android:label="Frame Layout Example">         
        </activity>

        <activity
            android:name="TableLayoutActivity"
            android:label="Table Layout Example">         
        </activity>

        <activity
            android:name="CircleLayoutActivity"
            android:label="Circle Layout Example">         
        </activity>

        <activity
            android:name="RelativeLayoutActivity"
            android:label="Relative Layout Example">         
        </activity>

        <activity
            android:name="SlidingDrawerActivity"
            android:label="Sliding Drawer Example">         
        </activity>

    </application>
</manifest>
